.projects-section{
    background-color: var(--clr-projects-background);
    background: linear-gradient(135deg, #0f1419 0%, #1a1a2e 100%);
}

.projects-spacing {
    height: 70px;
}

.projects-container {
    min-height: auto;
    width: auto;
    /* border: 1px solid black; remove later to get rid of scrollbar */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects-spacer{
    height: 70vh;
}

.project-section-header{
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    color: #e8e8e8;
    font-weight: 600;
    letter-spacing: 1px;
}

.project-img{
    /* position: relative; */
    height: 300px;
    width: 450px;
}

.project-item{
    position: relative;
    width: auto;
    height: 500px;
    margin: auto;
    transition: all 0.3s ease;
}

.project-item:hover {
    transform: translateY(-8px);
}

.img-contain{
    border-radius: 8px;
    /* overflow: hidden; */
    position: relative;
    right: 400px;
    /* top: 0; */
    border: 2px solid #00d4ff;
    box-shadow: 0 0 20px rgba(0, 212, 255, 0.2);
    transition: all 0.3s ease;
}

.project-item:hover .img-contain {
    box-shadow: 0 0 30px rgba(0, 212, 255, 0.4);
    border-color: #a855f7;
}

.project-name{
    position:absolute;
    top: 0px;
    left: -20px;
    /* right: 0; */
    /* bottom: 0; */
    font-size: 35px;
    font-weight: 600;
    color: #4457fc;
    height: 100px;
    width: 500px;
    transition: color 0.3s ease;
}

.project-item:hover .project-name {
    color: #00d4ff;
}

.project-description{
    text-align: start;
    position:absolute;
    top: 100px;
    left: 0px;
    /* right: 0; */
    /* bottom: 0; */
    font-size: 20px;
    font-weight: 300;
    color: #c9d1d4;
    height: 150px;
    width: 600px;
    transition: color 0.3s ease;
}

.project-item:hover .project-description {
    color: #e8e8e8;
}

.project-tech-stack{
    position:absolute;
    top: 250px;
    left: -390px;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    height: 100px;
    width: 600px;
    transition: color 0.3s ease;
}

.project-item:hover .project-tech-stack {
    color: #a855f7;
}