.about-me-section{
    width: 100%;
    /* height: 70vh; */
    /* background-color: rgb(146, 143, 143); */
    background-color: var(--clr-about-background);
}

.about-me-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 60%;
    /* background-color: lightblue; */
}

.about-me-header {
    font-size: 48px;
    /* margin-bottom: 0px; */
}

.about-me-text {
    font-size: 20px;
    white-space: pre-wrap;

}

.skills-container {
    padding: 24px;
    border-radius: 12px;
}

.skills-items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    gap: 10vw;
}

.skills-items li {
    margin: 10px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.about-me-spacer{
    height: 30vh;
}

.tech-icon{
    width: 50px;
    height: 50px;
}

.about-me-links-container{
    padding-left: 30px;
    padding-bottom: 50px;
}

.home-links{
    display: flex;
    justify-content: flex-start;
    /* padding-left: 30px; */
    gap: 50px;
    /* margin-top: 30px; */
}
