.about-me-section{
    width: 100%;
    /* height: 70vh; */
    background-color: rgb(146, 143, 143);
}

.about-me-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 12px;
    padding: 40px;
    /* background-color: lightblue; */
}

.about-me-header {
    font-size: 48px;
    grid-column: 1 / 2;

}

.about-me-text {
    font-size: 20px;
    grid-column: 1 / 2; /* left column */

}

.skills-container {
    padding: 24px;
    border-radius: 12px;
    grid-column: 2 / 3; /* right column */
    grid-row: 1 / 3; 
}

.skills-items li {
    margin: 10px 0;
}

.about-me-spacer{
    height: 70vh;
}