.experience-section{
    background-color: var(--clr-experience-background)
}

.experience-container{
    width: 100%;
    height: 50vh;
}

.experience-header{
    font-size: 48px;
    text-align: center;
    padding-top: 40px;
}

.experience-spacer{
    height: 50vh;
}