.experience-section{
    background-color: var(--clr-experience-background)
}

.experience-container{
    /* width: 100%; */
    height: 50vh;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.experience-header{
    font-size: 48px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.experience-spacer{
    height: 50vh;
}

.experience-item{
    margin-bottom: 50px;
}
.experience-dates{
    display: inline-block;
    margin-bottom: 7px;
}
/* .experience-details{
    list-style-type: none;
} */