.home-section{
    background-color: rgb(50, 55, 61);
}

.home-container {
    min-height: auto;
    width: 100%;
    /* border: 1px solid black; remove later to get rid of scrollbar */
    text-align: center;
    padding-top: 200px;
}

.home-name-header{
    font-size: 60px;
}

.home-location-text{
    font-size: 30px;
}

.home-description{
    font-size: 20px;
}

.home-spacer{
    height: 60vh;
}

.home-links{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}