.home-section{
    background-color: var(--clr-home-background);
}

.home-container {
    min-height: auto;
    width: 100%;
    /* border: 1px solid black; remove later to get rid of scrollbar */
    text-align: center;
    padding-top: 200px;
}

.home-name-header{
    font-size: 60px;
}

.home-location-text{
    font-size: 30px;
}

.home-description{
    font-size: 20px;
}

.home-spacer{
    height: 60vh;
}

/* .home-links{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
} */


.home-resume-button-container{
    display: flex;
    justify-content: center;
}

.download-resume-button{
    height: auto;
    width: auto;
    border-radius: 5px;
    /* padding: 0.5em 1em; */
    padding: 12px 25px 15px;
    background-color: rgb(77, 77, 77);
}